@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #1d1f5a;
    overflow-x: hidden;

}

.accordion{
    margin: auto;
    width: 90%;
    max-width: 1200px;

}

.accordion li{
    list-style: none;
    width: 100%;
    margin: 10px auto;
    padding: 5px;
    border-radius: 8px;
    background-color: #0d3d85;
}

.accordion li label{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;

    color: white;
}

label::before{
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}

.accordion .content{
    color: #ffffff;
    padding: 0 10px;
    line-height: 25px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease;
    will-change: max-height, padding;
}

.accordion input[type="checkbox"]:checked + label + .content{
    max-height: none;
    padding: 10px 10px 20px;
}

.accordion input[type="checkbox"]:checked + label::before{
    content: '-';
}

.accordion [type="checkbox"] {
    display: none;
}

.courses ul{
    list-style: none;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    background-color: #e3edf7;
    box-shadow:6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    text-align: center;
}


#Header {
    padding: 15px;
    background-color: #0A1C3D;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(22, 20, 20, 0.7);
    width: 100;
    text-align: center;
    border-radius: 10px;
    margin: 10px auto;
    margin-bottom: 30px;
    width: 95%;

    color: white;
}

.Info_courses  {
    background-color: #3F3381;
    margin: 10px auto;
    margin-bottom: 30px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(22, 20, 20, 0.7);
    text-align: center;
    border-radius: 10px;
    width: 81%;
    padding: 15px;

    color: white;

}

#info_H {
    text-align: center;
    margin: 15px auto;
    box-shadow:6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(14, 13, 13, 0.7);
    background-color: #0A1C3D;
    width: 50%;
    border-radius: 10px;
    padding: 15px;

    color: white;
}

.Accordion_H {
    text-align: center;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(20, 19, 19, 0.7);
    border-radius: 10px;
    margin: 30px auto;
    margin-top: 50px;
    padding: 15px;
    width: 50%;
    background-color: #163061;
    color: white;
}

.course_list li, .elective li {
    font-family: 'Fira Code', monospace;
    font-size: 18px;
    letter-spacing: 1px;
}

#courses-needed {
    text-align: center;
    margin: 3vw auto;
    background-color: #0a1c3d;
    width: 80%;
    border-radius: 2em;
    padding: 1em;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(29, 27, 27, 0.7);

    color: white;

}

.accordion label {
    font-family: 'Fira Code', monospace;
}

.courseInfoInject {
    padding: 20px;
}

.navbar  {
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(20, 17, 17, 0.7);
}




