@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', monospace;
}

div > h1 {
    text-align: center;
    margin: auto;
    background-color: azure;
    padding: 20px;
    border-radius: 8px;
}

.info {
    padding: 10px;
    text-align: center;
    background-color: aliceblue;
    margin-top: 10px;
}

.list {
    text-align: center;
    margin-top: 10px;
    background-color: aliceblue;

}

div > ul > h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    
}

button {
    padding: 8px;
    background-color: beige;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s ;
    border: none;
    margin: 5px;
    width: 200px;
    font-size: 28px;

}


button:hover {
    background-color: rgb(196, 182, 182);
}


body {
    background-color: aliceblue;
}

@media (max-width: 768px) {
  .container, .accordion, .Info_courses, .Accordion_H, #info_H, #Header,
  .main_course, .side-panel, .course {
    width: 90% !important;
    left: 0 !important;
    right: 0 !important;
    position: relative !important;
    font-size: 16px;
  }

  .navbar ul li {
    display: block;
    text-align: center;
  }

  .navbar ul li ul.dropdown {
    grid-template-columns: repeat(1, 1fr);
    max-height: 300px;
    overflow-y: scroll;
  }

  .course {
    font-size: 12px;
    padding: 8px;
  }

  button {
    font-size: 18px;
    width: 100%;
  }
}
