@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', monospace;
}

div > h1 {
    text-align: center;
    margin: auto;
    background-color: #0a1c3d;
    color: white;
    padding: 20px;
    border-radius: 1em;
    width: 80%;
}

.info {
    padding: 10px;
    text-align: center;
    background-color: #0a1c3d;
    margin: 2vh auto; 

    border-radius: 2em;
    color: white;
    
}

.list {
    text-align: center;
    margin: 2vh auto;
    background-color: #0a1c3d;

    width: 80%;
    border-radius: 2em;
    padding: 2vh;
    color: white;

}

div > ul > h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.Advising {
    padding: 3vh;
    background-color: #2868c6;
    border-color: #2868c6;
    font-size: 3vh;

    border-radius: 1em;

    margin: 2vh auto;
}

.Advising:hover {
    background-color: #91d2f4;
}


body {
    background-color: #1d1f53;
}

.Brac {
    background-color: #2868c6;
    padding: 4vh;

    border-radius: 2em;
    font-size: 1em;

    margin: 2vh auto;
}

.Brac:hover {
    background-color: #91d2f4;
}

#author {
    color: white;
    margin: 1vh auto;
    padding: 2vh ;
}

.todo {
    margin: 1vh auto;
    list-style: none;
}